body{
    font-family: 'Roboto',sans-serif;
}


.top {

    width: 100vw;
    height: 67px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #C3CFD9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top h1 {
    font-size: 31px;
    color: #E8833A;
    line-height: 40px;
}


.filmes {
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
}



.filme{
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 145px;
    height: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.filme img {
    width: 129px;
    height: 193px;
}
.contentMovies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.session {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo  {
    font-size: 24px;
    margin-bottom: 20px;
    color: #293845;
}

.session h2 {
    font-size: 20px;
    color: #293845;
}

.dia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    margin-left: 40px;
    margin-top: 40px;
}

.horarios {
    margin-top: 20px;
}

.horarios button{
    font-family: 'Roboto',sans-serif;
    width: 82px;
    height: 43px;
    border-radius: 3px;
    background-color: #E8833A;
    color: #FFFFFF;
    border: none;
    margin-right: 10px;
}

.chairs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    justify-content: space-around;
    margin-bottom: 130px;
}

.assento {
    background-color: #C3CFD9;
    color: #293845;
    border: 1px solid #808F9D;
    box-sizing: border-box;
    border-radius: 12px;
    width: 26px;
    height: 26px;
    margin: 5px;
}

.assentos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.selecionado {
    background-color:  #8DD7CF;
    border: 1px solid #1AAE9E
}

.indisponivel {
    background-color: #FBE192;
    border: 1px solid #F7C52B;
}

.disponivel {
    background-color: #C3CFD9;
    border: 1px solid #7B8B99;
}

.botoes {
    display: flex;
}

.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.botao span {
    margin-top: 10px;
}

.botoes button {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border-radius: 17px;
}

.comprador {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 60px;
}

.comprador label {
    text-align: start;
    margin-top: 20px;
}

.comprador input {
    height: 51px;
    width: 327px;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 3px;
}

.form {
    display: flex;
    flex-direction: column;
}

.reserva {
    margin-top: 20vh;
    width: 225px;
    height: 42px;
    background: #E8833A;
    border-radius: 3px;
    color: #FFFFFF;
    border: none;
}

.sucess{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sucess button{
    width: 225px;
    height: 42px;
    background: #E8833A;
    border-radius: 3px;
    color: #FFFFFF;
    border: none;
    margin-top: 90px;
}
.sucess h1 {
    font-size: 24px;
    color: #247A6B;
    font-weight: bold;
    margin-bottom: 30px;
}

.dados h2 {
    font-size: 24px;
    color: #293845;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    margin-left: 40px;
}

.data span {
    font-size: 22px;
    letter-spacing: 0.04em;
}

.rodape {
    display: flex;
    background-color: #DFE6ED;
    align-items: center;
    justify-content: flex-start;
    height: 117px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.rodape h1{
    font-size: 22px;
    font-family: 'Roboto',sans-serif;
    color: #293845;
}

.imgFilme {
    width: 64px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-right: 10px;
}

.imgFilme img {
    width: 48px;
    height: 72px;
}